[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
request = "*"
pyquery = "*"
pymongo = "*"
selenium = "*"
"pyqt5" = "*"
flask = "*"
scrapy = "*"

[dev-packages]

[requires]
python_version = "3.7"
